@charset "utf-8";
.tab .line {
	left: calc(16.66% * 5 + (16.66% - 28px)/2);
}
.content {
	border-top: 1px solid #eee;
	font-size: 1.4rem;
}
.title {
	color: #6d6d6d;
	overflow: auto;
	height: 35px;
	line-height: 35px;
}
.title li {
	float: left;
	width: 25%;
	text-align: center;
}
.list {
	color: #666;
	overflow: auto;
}
.list ul {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	overflow: auto;
	height: 40px;
	line-height: 40px;
	padding-top: 10px;
}
.list ul:active {
	background-color: #eee;
}
.list ul li {
	float: left;
	width: 25%;
	text-align: center;
}
.title li:nth-child(1),
.title li:nth-child(2),
.list ul li:nth-child(1),
.list ul li:nth-child(2) {
	width: 30%;
}
.title li:nth-child(3),
.title li:nth-child(4),
.list ul li:nth-child(3),
.list ul li:nth-child(4) {
	width: 20%;
}




