@charset "utf-8";
.tab .line {
	left: calc(16.66% * 4 + (16.66% - 28px)/2);
}
.subtab {
	height: 45px;
	line-height: 45px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	position: relative;
}
.subtab li {
	list-style: none;
	float: left;
	width: 33%;
	font-size: 1.4rem;
	text-align: center;
}
.subtab li:nth-child(2) {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.subtab li.active {
	color: #e04e29;
}
.subtab li:active {
	background-color: #eee !important;
}
.subtab .arrow {
	position: absolute;
	bottom: 0;
	left: 16%;
	left: calc(16.5% - 5px);
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	border-color: transparent transparent #eee transparent;
	border-style: dashed dashed solid dashed;
	border-width: 6px;
}
.assets {
	margin-top: 20px;
	position: relative;
}
.assets .bg {
	width: 100%;
}
.assets p {
	position: absolute;
	font-size: 1.4rem;
	font-size: 4.5vw;
	color: #fff;
	vertical-align: middle;
}
.assets .total {
	width: 100%;
	text-align: center;
	font-size: 1.6rem;
	font-size: 4.8vw;
	top: 15%;
	font-weight: 600;
}
.assets .values {
	left: 27%;
	top: 47.8%;
}
.assets .balance {
	text-align: right;
	right: 14%;
	top: 59.6%;
}
.assets .freeze {
	left: 27%;
	top: 72%;
}
.assets .useable {
	right: 65%;
	top: 1%;
	color: #4ac429;
}
.assets .drawable {
	left: 65%;
	top: 1%;
	color: #ff6600;
}
.assets .useable .l,.assets .drawable .l {
	font-size: 1.2rem;
}